<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello form screen</title>
</head>
<body>
<form action = "http://localhost:8080/hello/form-post-handle2" method="post">
    <label> id를 입력하세요</label>
    <p><input type="text" name = "name"> </p>

    <label> 비밀번호를 입력하세요</label>
    <p><input type="text" name = "password"> </p>

    <label> email를 입력하세요</label>
    <p><input type="text" name = "email"> </p>
    <p><button type = "submit"> submit </button></p>

</form>

</body>
</html>